version: '3.8'

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    ports:
      - "3000:8080" 						# Map host port 3000 to container port 8080 (Open WebUI)
    volumes:
      - open-webui_data:/app/backend/data # Persistent storage for Open WebUI data
    environment:
      # Optional: To disable authentication for single-user mode
      # - WEBUI_AUTH=False
      # Optional: If you have an Ollama server running, specify its URL
      - OLLAMA_BASE_URL=http://${OLLAMA_HOST}:11434

      - ENABLE_CODE_INTERPRETER=True

      # Force Jupyter as the engine
      - CODE_EXECUTION_ENGINE=jupyter
      - CODE_EXECUTION_JUPYTER_URL=http://jupyter:8888
      - CODE_EXECUTION_JUPYTER_AUTH=token
      - CODE_EXECUTION_JUPYTER_AUTH_TOKEN=JupyterToken

      - CODE_INTERPRETER_ENGINE=jupyter
      - CODE_INTERPRETER_JUPYTER_URL=http://jupyter:8888
      - CODE_INTERPRETER_JUPYTER_AUTH=token
      - CODE_INTERPRETER_JUPYTER_AUTH_TOKEN=JupyterToken  
    
    networks:
      - openwebui-network 				# Connect to a dedicated Docker network

  jupyter:
    image: myjupyter:latest
    container_name: jupyter-notebook
    ports:
      - "8888:8888" 						# Map host port 8888 to container port 8888 (Jupyter)
    volumes:
      - jupyter_data:/home/jovyan/work 	# Persistent storage for Jupyter notebooks
    environment:
      - JUPYTER_ENABLE_LAB=yes 		# Enable JupyterLab interface
      - JUPYTER_TOKEN=JupyterToken	# Set a token for Jupyter access
    networks:
      - openwebui-network 				# Connect to the same network as Open WebUI

networks:
  openwebui-network:
    driver: bridge # Create a bridge network for containers to communicate

volumes:
  open-webui_data:
    name: "openwebuijupyterstack_open-webui_data" 
  jupyter_data:
  registry_cache_data:
  registry_local_data:


